@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/stardust.png');
    color: #FFF;

    margin: 0;
    padding: 0;

    a {
        color: #FFF;
        text-decoration: none;
    }
}

//TODO adjust padding according to media

#app {
    display: flex;
    flex-direction: column;
}

#wrapper {
    width: 1400px;
    min-width: 1400px;
    max-width: 1400px;

    align-self: center;

    flex: 1;
}

@import '/components/header';
@import '/components/breadcrumbs';
@import 'components/category';
@import 'components/forum_list';