@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

/* Animations */

/* End of Animations */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


/* -------- Nav bar ---------- */

.navbar {
    margin-top: 70px;
    font-weight: 300;
    font-size: 0.9em;
}

.navbar .nav {
    box-shadow: 0 4px 4px 0 rgba(118, 118, 118, 0.2), 0 6px 20px 0 rgba(120, 120, 120, 0.19);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #747474;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li:first-child {
    margin-left: 10px;
}

.navbar li:nth-child(2) {
    margin-right: 10px;
}

.navbar .nav-left {
    float: left;
}

.navbar .nav-right {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    cursor: pointer;

    background-color: #747474;

    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navbar li a:hover:not(.active) {
    background-color: lightcoral;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navbar .active {
    background-color: #4CAF50;
}

/* ----------------- End of nav bar ------------- */

/* -----           Breadcrumbs         ------ */

#crumbs {
    padding: 2px 2px;
    list-style: none;
    margin-bottom: 20px;
    background-color: lightcoral;
    border-radius: 5px;
}

#crumbs li {
    display: inline;
}

#crumbs .crumbs-link {
    color: #fff;
    text-decoration: none;
}

#crumbs li + li:before {
    padding-left: 4px;
    padding-right: 4px;
    color: #fff;
    content: "/\00a0";
}

/* -----    end of Breadcrumbs         ------ */

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    padding: 0 300px;
    min-width: 750px;

    flex: 1;
}

#footer {
    background-color: #747474;
    text-align: center;
    padding-left: 40%;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 90%;
}

@media screen and (max-width: 1600px) {
    #wrapper {
        padding: 0 100px;
    }
}

@media screen and (max-width: 800px) {
    #wrapper {
        padding: 0 10px;
    }
}

/* Form */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: #000;
    outline: none;

    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;
}

.form-button {
    width: 30%;
    max-width: 150px;
    background-color: lightcoral;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 8px 14px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.g-recaptcha {
    padding-left: 14px;
}

.form-button:hover {
    background-color: #ff6060;
    box-shadow: 3px 3px 3px lightcoral;
    cursor: pointer;
}

.form-button:active {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);

    box-shadow: 2px 2px 2px lightcoral;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid lightcoral;

    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;

    box-shadow: 0 0 3px lightcoral;
}

fieldset {
    border: none;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: solid lightcoral;
}

/* End of form */

/* Forum categories */

.category-wrapper {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: solid lightcoral;
    margin-bottom: 20px;
}

.category-name {
    display: inline;
    font-size: 150%;
    font-weight: 600;
    color: lightcoral;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-decoration: none;
}

.category-name:hover, .category-subcategory-title:hover {
    color: #ff6060;
    text-shadow: 1px 1px lightcoral;
}

.category-description {
    display: inline;
    color: #696969;
    overflow: auto;
    overflow-wrap: normal;
    font-size: 90%;
}

.category-name + .category-description {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.category-subcategory-icon {
    display: inline;
    vertical-align: 30%;
    padding-right: 15px;
}

.category-subcategory-td-block {
    display: inline-block;
}

.category-subcategory-metadata {
    font-weight: 500;
}

.category-subcategory-title {
    font-size: 110%;
    color: lightcoral;
    text-decoration: none;
}

.category-subcategory-description {
    color: #696969;
    overflow: auto;
    overflow-wrap: normal;
    font-size: 90%;
}

/* End of forum categories */


/* --------------- Page list buttons -------------- */

.page-list-wrapper {
    border-radius: 3px;
    padding-bottom: 50px;
}

.page-button + .page-button {
    margin-left: 3px;
}

.page-button {
    display: inline-block;
    float: left;
    cursor: pointer;
    color: white;
    background: lightcoral;
    border: 1px solid transparent;
    text-decoration: none;
    outline: none;

    padding: 10px 12px;
}


.page-button-page {
    cursor: default;
}

.page-button-active {
    cursor: default;
    background-color: #ff6060;
    box-shadow: 3px 3px 3px lightcoral;
}

.page-button:hover:not(.page-button-page) {
    background-color: #ff6060;
    box-shadow: 3px 3px 3px lightcoral;
    cursor: pointer;
}

.page-button:active:not(.page-button-active) {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);

    box-shadow: 2px 2px 2px lightcoral;
}

.page-button-active:hover {
    cursor: default;
}

/* ---------------end of page list buttons -------------*/

/* ------------------ topics ------------------------------*/

#topic-title {
    padding: 2px 2px;
    list-style: none;
    margin-bottom: 20px;
    background-color: lightcoral;
    border-radius: 5px;
    color: white;
    font-size: 150%;

    padding-left: 35px;
}

.post-container {
    display: table;
    min-height: 250px;
    width: 100%;
}

.post-user-side, .post-content-side {
    display: table-cell;
}

.post-user-side {
    width: 17%;
    border-right: 1px solid #ccc;

    text-align: center;
}

.post-content-header {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-left: 4px;
}

.post-content-header-item {
    display: table-cell;
}

.post-content-id {
    float: right;
    font-weight: bold;
}

.post-content {
    margin-left: 4px;
}

/* ------------------ end of topics ------------------------*/

.button-create-thread {
    float: right;
}

.error {
    color: red;
}

#footer {
    bottom: 0;
}

#footer a {
    color: lightskyblue;
    text-decoration: none;
}

#footer a:hover {
    color: deepskyblue;
}