 .posting-wrapper {
     margin-top: 80px;
     background-color: $primary-color;

     .form-button {
         margin-top: 10px;
     }

     .posting-input-wrapper {
         padding: 25px;
     }
 }