@import '../../variables';

$border-color: rgba(255, 255, 255, 0.1);

.posts-list-wrapper > ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    padding-top: 5px;

    li .post-container {
        display: flex;
        max-width: 100%;

        border-bottom: 1px solid $secondary-color;
        background-color: rgba(255, 255, 255, 0.02);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

        min-height: 350px;
        margin-top: 30px;

        padding: 2px;

        .post-user-side {
            flex: 0 0 200px;
            display: flex;
            flex-direction: column;

            padding-top: 5px;

            & > * {
                align-self: center;
            }

            .post-username {
                margin-bottom: 5px;
            }

            .post-user-postcount {
                font-size: 0.9em;
            }

            .rank-banner {
                font-size: 1em;
            }
        }

        .post-content-side {
            flex: 0 0;
            flex-grow: 1;

            display: flex;
            flex-direction: column;

            border-left: 0.5px solid $border-color;

            padding-left: 10px;
            padding-right: 10px;

            font-size: 0.9em;

            .post-content-header {
                flex: 0 0 auto;

                display: flex;
                justify-content: space-between;
                padding-top: 4px;
                padding-bottom: 4px;

                border-bottom: 0.5px solid $border-color;
                font-size: 0.8em;
            }

            .post-content {
                flex-shrink: 0;
                flex-grow: 1;

                a {
                    text-decoration: underline;
                }

                * {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }
            }

            .post-content-footer {
                flex: 0 0 auto;
                width: 100%;
            }

            .post-content-signature {
                border-top: 0.5px solid rgba(255, 255, 255, 0.3);

                a {
                    text-decoration: underline;
                }

                * {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }
            }

            .memes {
                display: flex;
                justify-content: space-between;

                padding-bottom: 5px;
            }

            .last-edited-at {
                font-size: 0.7em;
            }

            .post-content-id {
                font-weight: bold;
            }

            .post-edit-button {
                margin-left: auto;
            }
        }
    }

    li:last-of-type .post-container {
        border-bottom: none;
    }
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Instead use this non-standard one: */
    //noinspection CssInvalidPropertyValue
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}