nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
    opacity: 0.6;

    li {

        &.nav-left {
            float: left;
        }

        &.nav-right {
            float: right;
        }

        &:hover {
            opacity: 1;
        }

        a {
            display: block;
            text-align: center;
            padding: 14px 16px;

            &:hover {
                text-shadow: 0 0 1.2em #ffffff;
                cursor: pointer;
            }
        }
    }
}