@import "../variables";

nav {
    z-index: 10;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
    overflow: hidden;
    background-color: $primary-color;
    border-radius: 2px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    li {

        &.nav-left {
            float: left;
        }

        &.nav-right {
            float: right;
        }

        .nav-dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            background-color: $primary-color;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        a {
            display: block;
            text-align: center;
            padding: 12px 12px;
            font-size: 0.8em;
            color: rgba(255, 255, 255, 0.7);

            &:hover {
                text-shadow: 0 0 1.2em $primary-accent-color;
                cursor: pointer;
            }
        }
    }
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}