nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
    overflow: hidden;
    background-color: #111111;
    opacity: 0.6;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    li {

        &.nav-left {
            float: left;
        }

        &.nav-right {
            float: right;
        }

        .nav-dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            background-color: #000000;
            opacity: 0.6;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        a {
            display: block;
            text-align: center;
            padding: 12px 12px;
            font-size: 0.8em;

            &:hover {
                text-shadow: 0 0 1.2em red;
                cursor: pointer;
            }
        }
    }
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}