.ql-toolbar {
    border: 1px solid #ccc;
    padding: 8px;
    background: white;
}
.ql-editor {
    overflow-y: scroll;
}

#full-container {
    height: 450px;
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

//quill snow format

.post-content p,
.post-content ol,
.post-content ul,
.post-content pre,
.post-content blockquote,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.post-content ol,
.post-content ul {
    padding-left: 1.5em;
}
.post-content ol > li,
.post-content ul > li {
    list-style-type: none;
}
.post-content ul > li::before {
    content: '\25CF';
}
.post-content ul[data-checked=true],
.post-content ul[data-checked=false] {
    pointer-events: none;
}
.post-content ul[data-checked=true] > li::before,
.post-content ul[data-checked=false] > li::before {
    color: #777;
    cursor: pointer;
    pointer-events: all;
}
.post-content ul[data-checked=true] > li::before {
    content: '\2611';
}
.post-content ul[data-checked=false] > li::before {
    content: '\2610';
}
.post-content li::before {
    display: inline-block;
    margin-right: 0.3em;
    text-align: right;
    white-space: nowrap;
    width: 1.2em;
}
.post-content li:not(.ql-direction-rtl)::before {
    margin-left: -1.5em;
}
.post-content ol li,
.post-content ul li {
    padding-left: 1.5em;
}
.post-content ol li {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-num;
}
.post-content ol li:before {
    content: counter(list-num, decimal) '. ';
}
.post-content ol li.ql-indent-1 {
    counter-increment: list-1;
}
.post-content ol li.ql-indent-1:before {
    content: counter(list-1, lower-alpha) '. ';
}
.post-content ol li.ql-indent-1 {
    counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.post-content ol li.ql-indent-2 {
    counter-increment: list-2;
}
.post-content ol li.ql-indent-2:before {
    content: counter(list-2, lower-roman) '. ';
}
.post-content ol li.ql-indent-2 {
    counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.post-content ol li.ql-indent-3 {
    counter-increment: list-3;
}
.post-content ol li.ql-indent-3:before {
    content: counter(list-3, decimal) '. ';
}
.post-content ol li.ql-indent-3 {
    counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.post-content ol li.ql-indent-4 {
    counter-increment: list-4;
}
.post-content ol li.ql-indent-4:before {
    content: counter(list-4, lower-alpha) '. ';
}
.post-content ol li.ql-indent-4 {
    counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.post-content ol li.ql-indent-5 {
    counter-increment: list-5;
}
.post-content ol li.ql-indent-5:before {
    content: counter(list-5, lower-roman) '. ';
}
.post-content ol li.ql-indent-5 {
    counter-reset: list-6 list-7 list-8 list-9;
}
.post-content ol li.ql-indent-6 {
    counter-increment: list-6;
}
.post-content ol li.ql-indent-6:before {
    content: counter(list-6, decimal) '. ';
}
.post-content ol li.ql-indent-6 {
    counter-reset: list-7 list-8 list-9;
}
.post-content ol li.ql-indent-7 {
    counter-increment: list-7;
}
.post-content ol li.ql-indent-7:before {
    content: counter(list-7, lower-alpha) '. ';
}
.post-content ol li.ql-indent-7 {
    counter-reset: list-8 list-9;
}
.post-content ol li.ql-indent-8 {
    counter-increment: list-8;
}
.post-content ol li.ql-indent-8:before {
    content: counter(list-8, lower-roman) '. ';
}
.post-content ol li.ql-indent-8 {
    counter-reset: list-9;
}
.post-content ol li.ql-indent-9 {
    counter-increment: list-9;
}
.post-content ol li.ql-indent-9:before {
    content: counter(list-9, decimal) '. ';
}
.post-content .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
}
.post-content li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 4.5em;
}
.post-content .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
}
.post-content li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em;
}
.post-content .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em;
}
.post-content li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 7.5em;
}
.post-content .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
}
.post-content li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em;
}
.post-content .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em;
}
.post-content li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 10.5em;
}
.post-content .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
}
.post-content li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em;
}
.post-content .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em;
}
.post-content li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 13.5em;
}
.post-content .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
}
.post-content li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em;
}
.post-content .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em;
}
.post-content li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 16.5em;
}
.post-content .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
}
.post-content li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em;
}
.post-content .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em;
}
.post-content li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 19.5em;
}
.post-content .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
}
.post-content li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em;
}
.post-content .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em;
}
.post-content li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 22.5em;
}
.post-content .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
}
.post-content li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em;
}
.post-content .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em;
}
.post-content li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 25.5em;
}
.post-content .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
}
.post-content li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em;
}
.post-content .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em;
}
.post-content li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 28.5em;
}
.post-content .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
}
.post-content li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em;
}
.post-content .ql-video {
    display: block;
    max-width: 100%;
}
.post-content .ql-video.ql-align-center {
    margin: 0 auto;
}
.post-content .ql-video.ql-align-right {
    margin: 0 0 0 auto;
}
.post-content .ql-bg-black {
    background-color: #000;
}
.post-content .ql-bg-red {
    background-color: #e60000;
}
.post-content .ql-bg-orange {
    background-color: #f90;
}
.post-content .ql-bg-yellow {
    background-color: #ff0;
}
.post-content .ql-bg-green {
    background-color: #008a00;
}
.post-content .ql-bg-blue {
    background-color: #06c;
}
.post-content .ql-bg-purple {
    background-color: #93f;
}
.post-content .ql-color-white {
    color: #fff;
}
.post-content .ql-color-red {
    color: #e60000;
}
.post-content .ql-color-orange {
    color: #f90;
}
.post-content .ql-color-yellow {
    color: #ff0;
}
.post-content .ql-color-green {
    color: #008a00;
}
.post-content .ql-color-blue {
    color: #06c;
}
.post-content .ql-color-purple {
    color: #93f;
}
.post-content .ql-font-serif {
    font-family: Georgia, Times New Roman, serif;
}
.post-content .ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
}
.post-content .ql-size-small {
    font-size: 0.75em;
}
.post-content .ql-size-large {
    font-size: 1.5em;
}
.post-content .ql-size-huge {
    font-size: 2.5em;
}
.post-content .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
}
.post-content .ql-align-center {
    text-align: center;
}
.post-content .ql-align-justify {
    text-align: justify;
}
.post-content .ql-align-right {
    text-align: right;
}
.post-content.ql-blank::before {
    color: rgba(0,0,0,0.6);
    content: attr(data-placeholder);
    font-style: italic;
    pointer-events: none;
    position: absolute;
}
