.ql-toolbar {
    border: 1px solid #ccc;
    padding: 8px;
    background: white;
}

.ql-editor {
    overflow-y: scroll;
}

#full-container {
    height: 450px;
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

